extends layout

block content
  h1=title
  br
  each res in output
    div
        h3=res['title']
        - var imgsrc =  "https://image.tmdb.org/t/p/w600_and_h900_bestv2" + res['img_url']
        img(src=imgsrc height="450" width="300" alt="no picture found")
        p=res['overview']
        - var popularity = "Popularity: " + res['popularity']
        p=popularity